@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@300;400;500;600;700;800&display=swap');

:root{
  --primary-blue: hsl(204, 100%, 50%);
  --primary-green: hsl(145, 56%, 52%);
  --primary-grey: hsl(0, 0%, 90%);
  --primary-text-color: hsl(0, 0%, 96%);
  --box-shadow: hsl(0, 0%, 31%);
}

html{
  box-sizing: border-box;
  font-size: 100%;
}

*, *::before, *::after{
  box-sizing: inherit;
}

*{
  margin: 0;
  padding: 0;
  font-family: 'Gothic A1', sans-serif;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App{
  height: 100vh;
}

.header{
  background-color: var(--primary-blue);
  color: var(--primary-text-color);
  margin: 0 auto;
  padding: .8rem;
}

.header h1{
  margin: 0;
}

.main{
  margin: 0 auto;
  margin-top: 1rem;
  width: 65vw;
  padding: .5rem;
}

.main-title{
  text-align: center;
}

.headings{
  margin-bottom: .8rem;
  font-weight: 800;
  font-size: 1.5rem;
  color: var(--primary-blue);
}

.form{
  margin: 0 auto;
  margin-top: 2rem;
}

hr{
  margin: 1rem 0;
  background-color: black;
  height: 2.5px;
}

.input-group{
  width: 100%;
}

input[type=text]{
  width: 100%;
  padding: 1rem;
  font-size: 1.3rem;
}

.options input[type=text]{
  margin-bottom: .5rem;
}

.buttons{
  margin-top: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.optionButton, .answerButton{
  color: var(--primary-text-color);
  font-weight: 700;
  padding: .8rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.3rem;
  transform: none;
  transition: ease-in-out .4s;
}

.optionButton:hover, .answerButton:hover{
  transform: translateY(-4px);
  box-shadow: 0px 3px 10px var(--box-shadow);
}

.optionButton:active, .answerButton:active{
  transform: translateY(0px);
}

.optionButton{
  background: var(--primary-blue);
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 17rem;
}

.optionButton:disabled{
  background-color: hsl(204, 100%, 80%);
  cursor: not-allowed;
  box-shadow: none;
  transform: none;
}

.answerButton{
  background: var(--primary-green);
}

.answerButton:disabled{
  background-color: hsl(145, 56%, 80%);
  cursor: not-allowed;
  box-shadow: none;
  transform: none;
}

.plus-icon{
  margin-bottom: 5px;
}

.result{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2.5rem;
}

.result-answers{
  
}

.result-buttons{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 30%;
}

.result-buttons > button{
  border: none;
  border-radius: 5px;
  padding: .8rem;
  cursor: pointer;
  width: 90%;
  margin-bottom: 1rem;
  transition: ease-in-out .4s;
}

.result-buttons > button:hover{
  box-shadow: 0px 3px 10px var(--box-shadow);
}

.re-ask-btn{
  background-color: var(--primary-green);
  color: var(--primary-text-color);
  font-size: 2rem;
  font-weight: 600;
}

.new-ask-btn{
  text-align: center;
  text-decoration: none;
  background-color: var(--primary-grey);
  border: 1px solid hsl(0, 0%, 72%);
  font-weight: 700;
  color: rgb(22, 22, 22);
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: .8rem;
}

.redo-icon{
  fill: rgb(22, 22, 22);
  font-size: 2rem;
  padding: 0;
  margin: 0;
  width: 5rem;
}

@media only screen and (max-width: 64rem){
  /* 1024px */
  .main{
    width: 80vw;
  }
}

@media only screen and (max-width: 48rem){
  /* 768px */
  html{
    font-size: 90%;
  }

  .main{
    width: 90vw;
  }

  .new-ask-btn{
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 37.5rem){
  /* 600px */
  .header h1{
    text-align: center;
  }

  .main > h1, .main > p{
    text-align: center;
  }

  .result{
    flex-direction: column;
  }

  .result-buttons{
    width: 100%;
    align-items: center;
  }

  .result-buttons button{
    width: 75%;
  }
}

@media only screen and (max-width: 33.125rem){
  /* 530px */
  html{
    font-size: 80%;
  }

  .main{
    width: 70vw;
  }

  .main > h1, .main > p{
    text-align: center;
  }

  .optionButton, .answerButton{
    font-size: 1.3rem;
    padding: .6rem;
  }

  .result{
    flex-direction: column;
  }

  .result-answers{
    margin-bottom: 1rem;
  }

  .result-buttons{
    width: 100%;
    align-items: center;
  }

  .result-buttons button{
    width: 75%;
  }
}

@media only screen and (max-width: 23.4375rem){
  /* 375px */
  html{
    font-size: 70%;
  }

  .main{
    width: 75vw;
  }

  .main > h1, .main > p{
    text-align: center;
  }

  .main-title h2{
    font-size: 2rem;
  }

  .main-title p{
    font-size: 1.3rem;
  }

  .result{
    flex-direction: column;
  }

  .result-answers{
    margin-bottom: 1rem;
  }

  .result-buttons{
    width: 100%;
    align-items: center;
  }
}